.art img {
    width: min(max(20em),100vw);
    /* width: fit-content; */
}


#go-back{
    width: min(min(calc(100vw - 0em), var(--header-width)),90%);
    padding: 0.5em;
    display: flex;
    align-items:center;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 30%);
    border-radius: var(--border-radius);
    /* margin-right: .5em; */
    margin-bottom: .5em;
    background-color: #cddc39;
    /* background-color: var(--default-primary-color); */
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) all .1s;
    transform: scale(1);
    cursor: pointer;
    /* margin: 0px; */
    /* align-self: stretch; */
    /* width: 50%; */
    /* flex-flow: row; */
    text-decoration: none;
    color: unset;
}
#go-back:hover{
    transform: scale(1.1);
    border-radius: 2px;
    z-index:100;
}